<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
    <h2 class="hdr">Дизайн</h2>
    <img th:src="@{/images/TacoCloud.png}"/>
    <br>
    <a th:href="@{/}">На главную</a>
    <br>
    <br>
    <div>
        <form method="POST" th:action="@{/register}">
            <label>Username:
                <input type="text" name="username"/>
            </label>
            <br/>
            <label>Password:
                <input type="password" name="password"/>
            </label>
            <br/>
            <label>Confirm password:
                <input type="password" name="confirm"/>
            </label>
            <br/>
            <label>Full name:
                <input type="text" name="fullname"/>
            </label>
            <br/>
            <label>Street:
                <input type="text" name="street"/>
            </label>
            <br/>
            <label>City:
                <input type="text" name="city"/>
            </label>
            <br/>
            <label>State:
                <input type="text" name="state"/>
            </label>
            <br/>
            <label>Zip:
                <input type="text" name="zip"/>
            </label>
            <br/>
            <label>Phone:
                <input type="text" name="phone"/>
            </label>
            <br/>

            <input type="submit" value="Зарегистрироваться"/>
        </form>
    </div>
</body>
</html>